<form [formGroup]="form" (ngSubmit)="submit()">
  <h3 class="mb-4 text-center text-uppercase">
    {{ updatemode ? "Update Category" : "Create Category" }}
  </h3>
  <hr />
  <div class="my-3">
    <label class="form-label fw-semibold">Name</label>
    <input formControlName="name" type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label class="form-label fw-semibold">Description</label>
    <input type="text" class="form-control" formControlName="description" />
  </div>

  <button
    [ngClass]="updatemode ? 'btn-warning' : 'btn-primary'"
    class="btn w-100"
    [disabled]="form.invalid"
    type="submit"
  >
    {{ updatemode ? "Update" : "Create" }}
  </button>
</form>
